.Tophalf{
    display:flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}
.InputDiv{
    width: 50%;
    margin: 10px;
}
.InputB{
    width: 98%;
    margin: 10px;
}